* {
  z-index: 5;
  text-decoration: none;
  outline: none;
}

.main-container {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  display: block;
  overflow: hidden;
  align-self: center;
  height: 640px;
  width: 380px;
  background-color: #1B262C;
}

.skip {
  color: #BBE1FA;
  position: absolute;
  right: 5%;
  top: 2%;
  font-size: large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  filter: drop-shadow(2px 2px 6px black);
  cursor: pointer;
}

svg {
  position: absolute;
  z-index: 0;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.623));
}

.menu-container {
  position: absolute;
  top: 2%;
  left: 2%;
  width: 60px;
  height: 50px;
  filter: drop-shadow(2px 2px 6px black);
}

.menu-container .first {
  position: relative;
  width: 90%;
  height: 12%;
  background-color: #BBE1FA;
  border-radius: 10px 10px;
  margin-bottom: 7%;
  cursor: pointer;
}

.menu-container .second {
  position: relative;
  width: 60%;
  height: 11%;
  background-color: #BBE1FA;
  border-radius: 10px 10px;
  margin-bottom: 5%;
  transform: translateX(40%);
  cursor: pointer;
}

.menu-container .third {
  position: relative;
  width: 40%;
  height: 10%;
  background-color: #BBE1FA;
  border-radius: 10px 10px;
  transform: translateX(100%);
  cursor: pointer;
}

.menu-container:hover .first {
  animation: f1 1s ease-in-out 0.1s infinite;
}

.menu-container:hover .second {
  animation: f2 1s ease-in-out 0.2s infinite;
}

.menu-container:hover .third {
  animation: f3 1s ease-in-out 0.3s infinite;
}

@keyframes f1 {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(1.1);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes f2 {
  0% {
    transform: scaleX(1) translateX(40%);
  }
  50% {
    transform: scaleX(1.1) translateX(40%);
  }
  100% {
    transform: scaleX(1) translateX(40%);
  }
}

@keyframes f3 {
  0% {
    transform: scaleX(1) translateX(100%);
  }
  50% {
    transform: scaleX(1.1) translateX(100%);
  }
  100% {
    transform: scaleX(1) translateX(100%);
  }
}

#decoration-one {
  position: absolute;
  top: 6%;
  left: -40%;
  transform: rotate(135deg);
  border: solid 2px #1B262C;
  border-color: #1B262C transparent transparent transparent;
  border-radius: 50%/100px 100px 0 0;
  width: 500px;
  height: 100px;
  z-index: 2;
}

#first-image {
  left: 3%;
  top: 15%;
  position: absolute;
  z-index: 3;
  width: 130px;
  height: 130px;
  border-radius: 47% 53% 72% 28% / 45% 52% 48% 55%;
  filter: drop-shadow(4px 2px 15px rgba(0, 0, 0, 0.247));
  overflow: hidden;
}

#second-image {
  left: 30%;
  overflow: hidden;
  top: 1%;
  position: absolute;
  z-index: 3;
  width: 110px;
  height: 110px;
  border-radius: 46% 54% 70% 30% / 46% 44% 56% 54%;
  filter: drop-shadow(4px 2px 5px rgba(0, 0, 0, 0.575));
}

#third-image {
  left: 51%;
  overflow: hidden;
  top: 13%;
  position: absolute;
  z-index: 3;
  width: 170px;
  height: 170px;
  border-radius: 46% 54% 70% 30% / 46% 44% 56% 54%;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.404));
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-title {
  position: absolute;
  z-index: 4;
  width: 100%;
  height: auto;
  top: 40%;
  left: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.main-title h1 {
  color: #BBE1FA;
  font-family: 'Passion One', cursive;
  text-align: center;
  font-size: 8rem;
  margin: -3% 0 0 0;
  padding: 0;
  letter-spacing: 0.6rem;
  filter: drop-shadow(2px 2px 7px rgba(0, 0, 0, 0.692));
  cursor: default;
}

.main-title span {
  color: #BBE1FA;
  text-align: center;
  font-size: 1.7rem;
  letter-spacing: 0.2rem;
  cursor: default;
}

#name {
  display: block;
  position: absolute;
  width: 18rem;
  z-index: 4;
  left: calc(50% - 9rem);
  top: 65%;
  height: 3rem;
  border-radius: 25px 25px;
  text-align: center;
  border: none;
  font-size: 1.5rem;
  color: #1B262C;
  background-color: #3282B8;
  filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.664));
}

#start {
  z-index: 1;
  filter: drop-shadow(2px 5px 6px black);
  cursor: pointer;
}

#name::placeholder {
  padding: 0;
  color: #1B262C;
}

#start-button {
  color: #BBE1FA;
  font-size: 3rem;
  position: absolute;
  bottom: 6%;
  left: 7%;
  z-index: 3;
  font-weight: bolder;
  cursor: pointer;
  filter: drop-shadow(10px 10px 7px rgba(0, 0, 0, 0.658));
  animation: playButton 1s ease-in-out infinite;
}

@keyframes playButton {
  0% {
    transform: translateY(-1px)
  }
  50% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(-1px);
  }
}

#slogan {
  color: #1B262C;
  font-size: 1.1rem;
  position: absolute;
  bottom: 8%;
  right: 4%;
  z-index: 3;
  font-weight: bolder;
  width: 7rem;
  text-align: center;
  filter: drop-shadow(5px 5px 7px rgba(0, 0, 0, 0.5));
  cursor: default;
}

@media (max-width:400px) {
  .main-container {
    height: 100vh;
    width: 100vw;
  }
}

@media (max-height:600px) {
  #start-button {
    bottom: 2%
  }
  .main-title {
    top: 45%
  }
  #name {
    top: 73%
  }
  #slogan {
    display: none
  }
}